<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EcommerceApps" parallel="tests" thread-count="3">

<parameter name = "message" value = "Code applied" />
<listeners>
<listener class-name="testcases.Listeners"/>
</listeners>

  <test name="OnlineShopAppHomePage" parallel="classes" thread-count="3">
    <classes>
      <class name="testcases.HomePageValidation">
      <methods>
      <exclude name="list.*"/>
       <!-- <include name="numberOfItemsValidation"/>  -->
      </methods>
      </class>
      <class name="testcases.HomePageSearchValidation"/>
       <class name="testcases.TopDealsValidation"/>
      </classes>
      </test>
      
      <test name="FlightPageCheck">
      <classes>
      <class name="testcases.FlightFieldsValidation">
      <methods>
      <exclude name="popupListener"/>
      </methods>
      </class>
      </classes>
      </test>
      
      <test name="AmaHomePageCheck">
      <classes>
      <class name="testcases.HomePageAmaCheck"/>
    </classes>  </test> <!-- Test -->
</suite> <!-- Suite -->
